page-service-providers {
  [header-bcg] {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 80px;
    top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    [icon-medium] {
      color: theme-colors('mainColors', 'primary') !important;
      font-size: icon-size('icon-medium') !important;
    }
    [span-medium] {
      color: theme-colors('mainColors', 'primary') !important;
      font-size: font-size-text('h1');
    }
    [header-title] {
      text-transform: uppercase;
      margin-bottom: 0;
      margin-top: 5px;
    }

    .domain-container{
      width: 100%;
      display: block;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
    }

    .domain-container li {
      display:inline;
    }
    .domain-container .domain-item{
      width: 80px;
      display: inline-block;
      font-size: 16px;
    }
    .domain-container .domain-item img{
      width: 30px;
    }
  }



  ion-card {
    margin-top: 80px !important;
    margin-bottom: 0 !important;
    position: relative;
    @include darkening-blend-mode;
    border-radius: $border-radius !important;
    &:before {
      z-index: 3;
    }
  }
  .card-md {
    background: transparent !important;
  }
  .card-description {
    position: absolute;
    bottom: 10%;
    width: 90%;
    left: 20px;
    z-index: 9;
  }
}
