<ion-header>
  <ion-navbar>
    <ion-title>MissionPage</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let item of taskList">
    <span>{{item.categoryName}}</span>
    <ion-list>
      <ion-item item-bcg *ngFor="let task of item.tasks">
        <ion-label item-title>{{task.taskName}}</ion-label>
        <ion-checkbox [(ngModel)]="task.selected" (ionChange)="updateTask()"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-fab #fab bottom right>
  <button button-ion-fab ion-fab (click)="onEvent('onFab', data, $event)">
    <ion-icon name="options"></ion-icon>
  </button>
</ion-fab>
