page-tasks {
  .custom-fab-label {
    position: absolute;
    background: black;
    color: white;
    left: 60px;
    padding: 3px 10px 3px 10px;
    border-radius: 6px;
    opacity: 0.7;
  }
  .done-label{
    bottom: 5px;
  }
  .all-label{
    bottom: 60px;
  }
}
