service-providers-cards {



  ion-card {
    margin: 0 auto !important;
    padding-top: 10px;
    width: 100% !important;
    border-radius: $border-radius !important;
  }
  .card-md {
    background: transparent !important;
  }

}
